<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    //<link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href= "/css/style.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>SONGR</title>
</head>
<body>
<nav>
    <span>SONGR</span>
    <ul>
        <li><a href="/">Home</a></li>

        <li><a href="/album">Albums</a></li>
    </ul>
</nav>
<div class="cover">
    <h1><span id="ehe">Discover</span> the greatest <span id="eh">HITS!</span></h1>
</div>
<footer><SPAN>All Rights Reserved &copy; Shamikh Quraan</SPAN></footer>
</body>
</html>